@model IEnumerable<HarveyJobs.Models.tbScheduledJob>

@{
    ViewBag.Title = "Alternate Wiew of Jobs";
}

<h2>Alternate Wiew of Jobs</h2>

<br />

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        <thead class="thead-dark">
            
            <tr class="danger">
                <th data-defaultsign="AZ">
                    @Html.DisplayNameFor(model => model.tbAppInfo.AppName)
                </th>
                <th data-defaultsort="disabled">
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th data-defaultsign="AZ">
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th data-defaultsign="AZ">
                    @Html.DisplayNameFor(model => model.Success)
                </th>
            </tr>
        </thead>
        

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tbAppInfo.AppName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Success)
                </td>
            </tr>
        }

    </table>
</div>